*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display:flex;
    align-items:center;
    justify-content:center;
    color: rgb(0, 0, 0);
    animation: corpo 4.5s forwards;
    overflow-x: hidden;
    
}
@keyframes corpo {
    0%{
        opacity: 0;
        background-color:white;
    }
    100%{
        opacity: 1;
    }
}
.fundo{
    height: 95vh;
    width: 95vw;
    background-color: white;
    display:flex;
    background-image: url("https://static.wikia.nocookie.net/residentevil/images/f/fc/RE2_remake_-_Imagine_from_official_site4.jpg/revision/latest?cb=20181120191353"); 
    justify-content:center;

}
.anuncio{
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(179, 179, 179);
    align-items:center;
    justify-content:center;
    z-index: 10;
    position: absolute;     
    
}
.anuncio .exemplos{
    display: flex;
    align-items:center;
    justify-content:center;


}
.exemplos .exemplo{
    display: flex;
    width: 300px;
    height: 300px;
    margin: 35px;
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: -6px 10px black, -12px 15px rgba(0, 0, 0, 0.534), -18px 20px rgba(0, 0, 0, 0.342), -24px 25px rgba(0, 0, 0, 0.144), inset 0 0 30px white;
    filter:contrast(120%);
}
#exemplo1{
    background-image: url("https://a.storyblok.com/f/145226/1908x894/43bf343703/custom-memory-game-gif.gif");
}
#exemplo2{
    background-image: url("https://img.elo7.com.br/product/zoom/4D02E34/jogo-da-memoria-das-formas-geometricas-recursos-pedagogicos.jpg");
}
.anuncio .passo{
    font-size: 4rem;
    display: flex;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.anuncio h3{
    color: black;
    text-align: center;
    width: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    margin:10px;
    font-size: 1.2em;
}
.anuncio button{
    width: 40%;
    height: 60px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 12px 20px black;
    transition: background-color 0.3s linear, color 0.3s linear;
    color: black;
    font-size: 1.4rem;  
}
.anuncio button:hover{
    background-color: rgb(134, 134, 209);
    color: white;
    cursor: pointer;
}

/*Jogo msm*/
header{
    display:flex;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.24);
    color: white;   
    align-items: center;
    justify-content: space-around;
}
main{
    display:flex;
    flex-direction:column;
    width: 100%;        
    height:100vh;
}
.tabelaF{
    display:flex;
    width:100%;
    height: 100%;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
     background-image: url("https://static.wikia.nocookie.net/residentevil/images/f/fc/RE2_remake_-_Imagine_from_official_site4.jpg/revision/latest?cb=20181120191353"); 
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}
.tabelaM{
    display:flex;
    width:100%;
    height: 100%;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
     background-image: url("https://static.wikia.nocookie.net/residentevil/images/f/fc/RE2_remake_-_Imagine_from_official_site4.jpg/revision/latest?cb=20181120191353"); 
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}
.tabelaD{
    display:flex;
    width:100%;
    height: 100%;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
     background-image: url("https://static.wikia.nocookie.net/residentevil/images/f/fc/RE2_remake_-_Imagine_from_official_site4.jpg/revision/latest?cb=20181120191353"); 
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}
.total{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width: 100%;
    height:100%;
}
.tabelaF .card{
    width: 200px;
    height:260px;
    background-color: blue;
    margin: 12px;   
    display:flex;
    background-image: url("https://t3.ftcdn.net/jpg/16/07/35/88/360_F_1607358889_QAaFtq7O44XVn7RT4S5Cbc4yOZTwIXGj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 20px black, 0 0 20px black;      
}
.tabelaM .card{
    width: 200px;
    height:260px;
    background-color: blue;
    margin: 12px;   
    display:flex;
    background-image: url("https://t3.ftcdn.net/jpg/16/07/35/88/360_F_1607358889_QAaFtq7O44XVn7RT4S5Cbc4yOZTwIXGj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 20px black, 0 0 20px black;      
}
.tabelaD .card{
    width: 150px;
    height:200px;
    background-color: blue;
    margin: 12px;   
    display:flex;
    background-image: url("https://t3.ftcdn.net/jpg/16/07/35/88/360_F_1607358889_QAaFtq7O44XVn7RT4S5Cbc4yOZTwIXGj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 20px black, 0 0 20px black;      
}

.configuracao, .reiniciar{
    display: flex;
    width: 50px;
    height:50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 30px;    
}
.configuracao{
    background-image: url(https://png.pngtree.com/png-vector/20191024/ourmid/pngtree-settings-icon-isolated-on-abstract-background-png-image_1855133.jpg);
}
.reiniciar{
    background-image: url(https://png.pngtree.com/png-vector/20191010/ourmid/pngtree-restart-icon-isolated-on-background-png-image_1813443.jpg);
}
.menu{
    display:flex;
    flex-direction:row;
    gap: 55px;
}


